ohauth does not correctly decode URL parameters

If the query part of the URL contain parameters that were encoded as "application/x-www-form-urlencoded" string (i.e. something like "/something?query=spaced+words") then the stringQs function does not decode this plus signs as spaces (which it should according to section 3.4.1.3.1. of RFC 5849). The input string is only passed in decodeURIComponent. The current implementation looks like this:

```
ohauth.stringQs = function(str) {
    return str.split('&').filter(function (pair) {
        return pair !== '';
    }).reduce(function(obj, pair){
        var parts = pair.split('=');
        obj[decodeURIComponent(parts[0])] = (null === parts[1]) ?
            '' : decodeURIComponent(parts[1]);
        return obj;
    }, {});
};
```

This could be corrected by converting all '+' sign back to space before passing it in decodeURIComponent, like this:

```
ohauth.stringQs = function(str) {
    return str.split('&').filter(function (pair) {
        return pair !== '';
    }).reduce(function(obj, pair){
        var parts = pair.split('=');
        if(parts[1] === null) {
          obj[decodeURIComponent(parts[0])] = '';
        } else {
          obj[decodeURIComponent(parts[0])] = decodeURIComponent(parts[1].replace(/\+/g, ' '))
        }
        return obj;
    }, {});
};
```


⛔️ This project has been deprecated and will not receive any regular maintenance.
The preferred authentication method for OpenStreetMap <a href="https://github.com/osmlab/osm-auth/pull/93">is now OAuth2</a>, therefore this library isn't used anymore.